{% from 'elements/header_macros.html' import preconnect_scripts, critical_general_styles, critical_base_auth_styles %}

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ preconnect_scripts() }}

        <style data-critical="true">
            {{ critical_general_styles() }}
            {{ critical_base_auth_styles() }}
        </style>

        <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap"></noscript>

        <link rel="stylesheet" href="{{ url_for('static', filename='style/general/layout.css') }}" fetchpriority="high">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/general/elements.css') }}" fetchpriority="high">

        {% block head %}{% endblock %}

        <title>{{ page_title | default('ConsultApp') }}</title>
    </head>
    <body class="auth-body">
        <div class="auth-wrapper">
            <img class="auth-logo" src="{{ url_for('static', filename='img/main_logo.png') }}" alt="ConsultApp logo">
            <div class="auth-card">
                <header class="auth-card__header">
                    <div class="auth-card__header-headings">
                        <h1 class="content-heading">{{ form_heading | default('Регистрация') }}</h1>
                        <h2 class="auth-card__subheading">{{ form_subheading }}</h2>
                    </div>
                    {% if school_name %}
                        <p class="auth-card__description">Вы были приглашены в школу<br>"{{ school_name }}"</p>
                    {% endif %}
                </header>
                {% block form %}{% endblock %}
            </div>
        </div>

        <div class="alerts-area">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, msg in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        {{ msg }}
                        <button type="button" style="background-image: url('{{ url_for('static', filename='img/close_icon.png') }}');" class="btn-close close-alert-btn" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
