{% extends "auth/base_auth.html" %}

{% block form %}
    <form class="auth-form" method="POST" action="{{ url_for('auth.register_admin') }}">
        <div class="auth-form__inputs">
            <div class="input-fields-container">
                <div class="input-fields-container__row">
                    <label for="full_name" class="input-fields-container__row-label">ФИО</label>
                    <input type="text" class="input-fields-container__row-input" id="full_name" name="full_name" 
                           placeholder="Введите ФИО" value="{{ form_data.get('full_name', request.form.get('full_name', '')) }}" required>
                </div>
                <div class="input-fields-container__row">
                    <label for="school_name" class="input-fields-container__row-label">Название школы</label>
                    <input type="text" class="input-fields-container__row-input" id="school_name" name="school_name" 
                           placeholder="Введите название школы" value="{{ form_data.get('school_name', request.form.get('school_name', '')) }}" required>
                </div>
                <div class="input-fields-container__row">
                    <label for="email" class="input-fields-container__row-label">Электронная почта</label>
                    <input type="email" class="input-fields-container__row-input" id="email" name="email" 
                           placeholder="Введите электронную почту" value="{{ form_data.get('email', request.form.get('email', '')) }}" autocomplete="email" required>
                </div>
                <div class="input-fields-container__row">
                    <label for="password" class="input-fields-container__row-label">Пароль</label>
                    <input type="password" class="input-fields-container__row-input" id="password" name="password" 
                           placeholder="Введите пароль" autocomplete="current-password" required>
                </div>
            </div>
        </div>
        <div class="auth-form__actions">
            <button type="submit" class="button main-button shadowed-button larger-button">Регистрация</button>
            <div class="auth-form__alternative-action">
                <span>Уже есть аккаунт?</span>
                <a class="auth-form__alternative-action-link" href="{{ url_for('auth.login', next=request.args.get('next')) }}">Войти</a>
            </div>
        </div>
    </form>
{% endblock %}
